.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "arial";
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.animation-wrapper {
  background: #ace5ee;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.water {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.water ul.waves {
  list-style: none;
  margin: 0;
  padding: 0;
}

.water ul.waves li {
  background-repeat: repeat-x;
}

.water ul.waves li.wave-one {
  animation: wave 8.7s linear infinite;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: 0px;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.water ul.waves li.wave-two {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 10s linear infinite;
  bottom: 0px;
  height: 84px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 9;
}

.water ul.waves li.wave-three {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 25s linear infinite;
  bottom: 0;
  height: 190px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 8;
}

.water ul.waves li.wave-four {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 25s linear infinite;
  bottom: 0;
  height: 205px;
  left: 0;
  position: absolute;
  right: 0;
}

.boat {
  background-repeat: no-repeat;
  bottom: 175px;
  height: 300px;
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
.boatwave {
  animation: boat 3s linear infinite;
}
.boatfall {
  animation: boatfall 7s linear infinite;
}

.cloud {
  animation: cloud 30s linear infinite;
  background-repeat: no-repeat;
  height: 165px;
  left: 0;
  position: absolute;
  width: 297px;
}

.cloud2 {
  animation: cloud 25s linear infinite;
  background-repeat: no-repeat;
  bottom: 320px;
  height: 165px;
  left: 140px;
  position: absolute;
  width: 297px;
}

.dolphin {
  animation: fish 15s linear infinite;
  background-repeat: no-repeat;
  bottom: 45px;
  height: 80px;
  left: 20%;
  position: absolute;
  width: 124px;
  z-index: 9;
}

/*Animation Keyframe Section*/

@keyframes wave {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1920px 0;
  }
}

@keyframes boatfall {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes boat {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes cloud {
  0% {
    left: -30%;
  }

  100% {
    left: 100%;
  }
}
input,
textarea,
Select {
  padding: 9px;
  border: solid 1px #e5e5e5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #c9c9c9;
}

label {
  margin-left: 0px;
  color: #999999;
}

button,
input[type="submit"] {
  width: auto;
  padding: 9px 15px;
  background: #cccccc;
  border: 0;
  font-size: 14px;
  color: #ffffff;
}
